* { -webkit-hyphens: none; }
div {
	
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0;
	
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
		
	}
}
.header-wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
#masthead {
	width: 100%;
	float: left;
	padding: 10px 0;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		padding: 30px 0;
	}
}
/* Logo */
.logo , h1.logo {
	width: 180px;
	float: left;
	margin: 10px;

	@media screen and (min-width: $tabwidth) {
		width: 18%;
		margin: 0 0 0 2%;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 100%;
	display: block;

	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
section.page-header {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 76%;
		float: right;
		padding: 0 0 50px 0;
	}
	header {
		padding: 15px 30px;
		@media screen and (min-width: $tabwidth) {
			padding: 50px 0 30px 0;
		}
	}
	article.page {
		width: 85%;
		float: left;
		padding: 0 30px;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			padding: 0;
		}
		@media screen and (min-width: $deskwidth) {
			width: 45%;
		}
	}
	article.project {
		width: 100%;
		float: left;
		padding: 0 30px;
		@media screen and (min-width: $tabwidth) {
			width: 100%;
			padding: 0;
		}
		@media screen and (min-width: $deskwidth) {
			width: 96%;
		}
	}
}
.child-pages {
	width: 100%;
	float: left;
	margin: 0 0 50px 0;
	.image-right, .image-left {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
	}
	.copy-left, .copy-right {
		width: 100%;
		padding: 30px;
		font-style: italic;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			padding: 0 0 0 50px;
		}
		header {
			@media screen and (min-width: $tabwidth) {
				padding: 0px 0 30px 0;
			}
		}
		article {
			width: 70%;
			@media screen and (min-width: $tabwidth) {
				width: 100%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 66%;
			}
		}
		article.sections {
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				width: 100%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 90%;
			}
		}
		p {
			font-size: 1.2rem;
		}
	}
	.image-right, .copy-left { float: right; }
	.image-left, .copy-right { float: left; }
}
.learnmore {
	width: auto;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	a {
		padding: 10px 20px;
		display: block;
		color: #fff;
		background-color: $color-black;
		text-decoration: none;
		@include transition(all ease .6s);
		&:hover {
			background-color: rgba($color-black, .5);
		}
	}
}
.site-footer {
	width: 100%;
	padding: 100px 2% 2% 2%;
	clear: both;
	text-align: center;
	font-style: italic;
	font-size: .8rem;
	float: left;
	@media screen and (min-width: $tabwidth) {
		text-align: right;
	}
	a {
		color: rgba(#000, .9);
		text-decoration: none;
	}
}