input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
.gform_wrapper .top_label label.gfield_label {
	font-size: 1rem;
	font-family: $font-heading;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.gform_wrapper input {
	border-radius: 0;
}
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
	font-size: 0.9rem !important;
	font-family: $font-heading;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type=submit], 
.gform_wrapper .gform_page_footer input.button, 
.gform_wrapper .gform_page_footer input[type=submit] {
	box-shadow: none;
	background-color: $color-black;
	color: #fff;
	font-size: 0.7rem;
	font-family: $font-heading;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: none;
	border-color: $color-black;
	border: 0;
	padding-bottom: 0.6em 1em;
	@include transition(all ease .2s);
	&:hover {
		background-color: rgba($color-black, .5);
		border-color: rgba($color-black, .5);
	}
}